<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
       
  <!--Denna del postar nya inlägg-->
    <div id="addnew">       
        <div  class="addingnews">

              <label for="newsheadline">Rubrik: </label>
               <input type="text" class="inputnews" id="newsheadline" v-on:keyup.13="postPost" v-model="postNews.newsHeadline"/>
              <label for="newstext">Text: </label> 
              <textarea class="inputText" id="newstext" v-on:keyup.13="postPost" v-model="postNews.newsText"></textarea>

              <button type="submit" @click="postPost">Submit</button>
        </div>
    
      </div>
  
<!--Denna del läser ut rest-tjänsten och kan ta bort och uppdatera inlägg-->
    <div id="appadmin">

            <div>
                    <div v-for="mynews, i in MyNews" :key="mynews._id">
                      <div v-if="editNews === mynews._id">
                        <input v-model="mynews.newsHeadline" v-on:keyup.13="updateNews(mynews)"/>
                        <input v-model="mynews.newsText" v-on:keyup.13="updateNews(mynews)"/>
                        <button class="submit-button" v-on:click="updateNews(mynews)">spara</button>
                  
                      </div>
                      <div class="admin-show-data" v-else >
                      <h2>{{mynews.newsHeadline}}</h2> 
                      <h4>{{mynews.newsDate}}</h4>
                      <p>{{mynews.newsText}}</p>
                      <button v-on:click="editNews = mynews._id">redigera</button>
                      <button v-on:click="deleteNews(mynews._id, i)">ta bort</button>
                      </div>
                  
                    </div>
                    </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/admin.js"></script>
</body>
</html>